@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-09-08
* Version:0.0.2
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*取消掉300ms的延迟，chrome和safari可以生效*/
  touch-action: manipulation;
}

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%;
}

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
}

ol, ul {
  /*去掉列表点*/
  list-style: none;
}

table {
  /*去掉表格的双行线*/
  border-collapse: collapse;
  border-spacing: 0;
}

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}

a, img {
  /* 禁止长按链接与图片弹出菜单 */
  -webkit-touch-callout: none;
}

input {
  /*ios去除input默认样式*/
  -webkit-appearance: none;
}

/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-09-08
* Version:0.0.2
* ================================================================== */
.arrow-left {
  position: relative;
}
.arrow-left:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
}

.arrow-bottom {
  position: relative;
}
.arrow-bottom:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.05rem;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(-135deg);
}

.arrow-top {
  position: relative;
}
.arrow-top:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0.05rem;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
}

.arrow-right {
  position: relative;
}
.arrow-right:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  width: .2rem;
  height: .2rem;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  color: #333;
  -moz-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -o-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
  transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
}

.close-icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50px;
  background: #ff366f;
  opacity: 1;
}
.close-icon:hover {
  cursor: pointer;
  opacity: 1;
}
.close-icon:before {
  content: '';
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  height: 2px;
  margin-top: -1px;
  border-radius: 5px;
  background: #ffffff;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-icon:after {
  content: '';
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  height: 2px;
  margin-top: -1px;
  border-radius: 5px;
  background: #ffffff;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #f2ebe3;
  background-size: 100% auto;
  overflow: hidden;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper.on {
  height: 100%;
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header {
  position: relative;
  padding: .35rem .5rem;
  background-color: #58595b;
  overflow: hidden;
}
.header .left {
  position: absolute;
  left: .5rem;
  top: 50%;
  z-index: 1;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.header .left a {
  display: block;
  width: .35rem;
  height: .35rem;
}
.header .left a:after {
  color: #f6ac1d;
}
.header .middle {
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.header .middle a {
  width: .69rem;
  height: .69rem;
}
.header .middle a img {
  width: 100%;
  height: 100%;
}
.header .middle .search {
  padding: 0 .3rem;
  margin: 0 auto;
  width: 80%;
  height: .6rem;
  background-color: #fff;
  border-radius: 3px;
  font-size: 0;
}
.header .middle .search input {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  font: 0.24rem/2.4 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #666;
}
.header .middle label {
  margin: 0 .6rem 0 .3rem;
  width: 100%;
  height: .5rem;
  border-radius: 30px;
  background-color: #fff;
  font-size: 0;
}
.header .middle label input {
  background: none;
  border: none;
  outline: none;
  padding: 0 5%;
  width: 90%;
  height: 100%;
}
.header .right {
  position: absolute;
  right: .5rem;
  top: 50%;
  z-index: 1;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.header .right a {
  font: 0.24rem/2.4 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #f6ac1d;
}

.hotels-detail .hotels-detail-header {
  background: url("../images/top_bg.jpg") no-repeat;
  background-size: 100% auto;
  font-size: 0;
}
.hotels-detail .hotels-detail-header h3 {
  padding: .3rem 0;
  font: 0.26rem/2.4 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #fff;
  text-align: center;
}
.hotels-detail .hotels-detail-header h3 span {
  margin: 0 .1rem;
  font-size: .52rem;
  font-weight: bold;
}
.hotels-detail .hotels-detail-header ul {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.hotels-detail .hotels-detail-header ul li {
  width: 50%;
  height: .95rem;
  background: rgba(0, 0, 0, 0.3);
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.hotels-detail .hotels-detail-header ul li:last-child {
  border-left: 1px dashed rgba(255, 255, 255, 0.1);
}
.hotels-detail .hotels-detail-header ul li p {
  font: 0.24rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #fff;
  text-align: center;
}
.hotels-detail .hotels-detail-header ul li p span {
  margin-left: .2rem;
  font-size: .3rem;
}
.hotels-detail .hotels-detail-header ul li h5 {
  font: bold 0.3rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #f6ac1e;
  text-align: center;
}
.hotels-detail .hotels-detail-centent ul {
  padding-top: .2rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
}
.hotels-detail .hotels-detail-centent ul li {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  font: 0.24rem/2.4 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #666;
  border-bottom: 1px solid #f5f5f5;
}
.hotels-detail .hotels-detail-centent ul li select {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  font: 0.24rem/2.4 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #666;
}
.hotels-detail .hotels-detail-centent ul li input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  font: 0.24rem/2.4 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #666;
  text-align: center;
}
.hotels-detail .hotels-detail-centent ul li.on {
  color: #f6ac1d;
  border-bottom: 1px solid;
}
.hotels-detail .hotels-detail-centent .list {
  padding: .3rem;
  background-color: #f2ebe3;
  border-radius: 10px 10px 0 0;
}
.hotels-detail .hotels-detail-centent .list .items {
  padding: 0 .2rem;
  margin-bottom: .3rem;
  background-color: #fff;
  border-radius: 5px;
}
.hotels-detail .hotels-detail-centent .list .items .items-top {
  padding: .1rem 0;
  border-bottom: 1px solid #ddd;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.hotels-detail .hotels-detail-centent .list .items .items-top span {
  font: bold 0.22rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #999;
}
.hotels-detail .hotels-detail-centent .list .items .items-middle {
  padding: .1rem 0 .2rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.hotels-detail .hotels-detail-centent .list .items .items-middle .img {
  width: 1.6rem;
  height: 1.6rem;
  font-size: 0;
  border: 3px solid #fff;
}
.hotels-detail .hotels-detail-centent .list .items .items-middle .img img {
  width: 100%;
  height: 100%;
}
.hotels-detail .hotels-detail-centent .list .items .items-middle .text {
  margin-left: .25rem;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 1.6rem;
}
.hotels-detail .hotels-detail-centent .list .items .items-middle .text .top {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.hotels-detail .hotels-detail-centent .list .items .items-middle .text .top h2 {
  font: bold 0.27rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #333;
}
.hotels-detail .hotels-detail-centent .list .items .items-middle .text .top p {
  font: 0.22rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #999;
}
.hotels-detail .hotels-detail-centent .list .items .items-middle .text .bottom p {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  font: 0.21rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #999;
}
.hotels-detail .hotels-detail-centent .list .items .items-middle .text .bottom p span:first-child {
  color: #f6ac1d;
}
.hotels-detail .hotels-detail-centent .list .items .items-middle .text .bottom p span:first-child strong {
  font: bold 0.26rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
}
.hotels-detail .hotels-detail-centent .list .items-loading {
  display: none;
  font: 0.24rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #999;
}

.search-wrapper {
  position: absolute;
  top: 1.25rem;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 640px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  background-size: 100% auto;
  overflow: auto;
  display: none;
}
.search-wrapper ul li {
  border-bottom: 1px solid #ddd;
}
.search-wrapper ul li a {
  padding: .15rem .3rem;
  display: block;
  font: 0.24rem/1.2 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", STHeiti, Tahoma, Simsun, sans-serif;
  color: #333;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.search-wrapper ul li a span:last-child {
  color: #ccc;
}

/*# sourceMappingURL=brokerageDetail.css.map */
